flask == 3.0.3
Jinja2 == 3.1.4
MarkupSafe == 2.1.5
click == 8.1.7
blinker == 1.8.1
joblib == 1.4.2
itsdangerous == 2.2.0
watchdog == 4.0.2
streamlit == 1.38.0
Pygments == 2.18.0
Werkzeug == 3.0.4
altair == 5.4.1
cachetools == 5.5.0
certifi == 2024.8.30
charset-normalizer == 3.3.2
colorama == 0.4.6
idna == 3.8
numpy == 2.1.0
pandas == 2.2.2
scikit-learn == 1.5.1
scipy == 1.14.1

